<mat-toolbar class="custom-mat-toolbar" color="primary">
  <div class="container-fluid full-width">
    <div class="row align-items-center">
      <div class="col-sm-12 col-lg-auto">
        <span>{{"TITLE" | translate}}</span>
      </div>
      <div class="col-sm-12 col-lg-auto ml-auto">
        <app-language-selector class="ml-auto"></app-language-selector>
      </div>
    </div>
  </div>
</mat-toolbar>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="row">
        <div class="col-sm-12">
          <form [formGroup]="calculatorForm">
            <div class="row">
              <div class="col-sm-8">
                <mat-form-field class="full-width">
                  <mat-label>{{"SIZE" | translate}}</mat-label>
                  <input matInput type="text" formControlName="size" mask="separator.2" separatorLimit="1000" thousandSeparator=","/>
                </mat-form-field>
              </div>
             <div class="col-sm-4">
               <mat-form-field class="full-width">
                <mat-select placeholder="{{'UNIT' | translate}}" formControlName="sizeUnit">
                  <mat-option *ngFor="let sizeOption of sizeOptions" [value]="sizeOption">
                    {{sizeOption.unit}}
                  </mat-option>
                </mat-select>
               </mat-form-field>
             </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <mat-form-field class="full-width">
                  <mat-label>{{"SPEED" | translate}}</mat-label>
                  <input matInput type="text" formControlName="speed" mask="separator.2" separatorLimit="1000" thousandSeparator=","/>
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field class="full-width">
                  <mat-select  placeholder="{{'UNIT' | translate}}" formControlName="speedUnit">
                    <mat-option *ngFor="let speedOption of speedOptions" [value]="speedOption">
                      {{speedOption.unit}}
                    </mat-option>
                  </mat-select>
                 </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
               <button mat-raised-button color="primary" (click)="calculateTime()" [disabled]="isFormEmpty()">{{"CALCULATE" | translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
     <div class="row my-5">
       <div class="col-sm-12">
       {{"ESTIMATED_TIME" | translate}}: <b>{{result}}</b>
       </div>
     </div>
    </div>
  </div>
</div>