<mat-toolbar color="primary">
  <span>{{title}}</span>
</mat-toolbar>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="row">
        <div class="col-sm-12">
          <form [formGroup]="calculatorForm">
            <div class="row">
              <div class="col-sm-8">
                <mat-form-field class="mat-form-fluid">
                  <mat-label>Download size</mat-label>
                  <input matInput type="text" formControlName="size" mask="separator.2" separatorLimit="1000" thousandSeparator=","/>
                </mat-form-field>

              </div>
             <div class="col-sm-4">
               <mat-form-field class="mat-form-fluid">
                <mat-select formControlName="sizeUnit">
                  <mat-option *ngFor="let sizeOption of sizeOptions" [value]="sizeOption">
                    {{sizeOption.unit}}
                  </mat-option>
                </mat-select>
               </mat-form-field>
             </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <mat-form-field class="mat-form-fluid">
                  <mat-label>Download Speed</mat-label>
                  <input matInput type="text" formControlName="speed" mask="separator.2" separatorLimit="1000" thousandSeparator=","/>
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field class="mat-form-fluid">
                  <mat-select formControlName="speedUnit">
                    <mat-option *ngFor="let speedOption of speedOptions" [value]="speedOption">
                      {{speedOption.unit}}
                    </mat-option>
                  </mat-select>
                 </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
               <button mat-raised-button color="primary" (click)="calculateTime()" [disabled]="isFormEmpty()">Calculate</button>
              </div>
             
            </div>
          </form>
           
        </div>
      </div>
     <div class="row mt-5">
       <div class="col-sm-12">
         Result: {{result}}
       </div>
     </div>
    </div>
   
  </div>
</div>